* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    color: white;
    padding: 25px 0;
    font-weight: bolder;
    font-size: 45px;
    margin-bottom: 0;
}

h2 {
    font-weight: bolder;
    font-size: 38px;
}

h3 {
    font-size: 28px;
    font-weight: bolder;
    display: inline-block;
    height: auto;
    margin: 15px;
}

p {
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
}

header {
    background: linear-gradient(90deg, rgba(0, 134, 255, 1) 0%, rgba(9, 9, 121, 1) 62%, rgba(2, 0, 36, 1) 100%);
    height: auto;
    width: 100vw;
}

main {
    height: auto;
    width: 100%;
    margin: 15px;
    padding-right: 15px;
    flex-direction: row;
}

/* Search section */
.searchSectionContainer {
    height: auto;
    flex-basis: 475px;
    margin: 15px 15px 0 15px;
}

input {
    width: 100%;
    height: 65px;
    border-radius: 10px;
    padding-left: 15px;
    margin: 10px 0;
    font-size: 20px;
}

button {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    margin: 15px 0;
    border: none;
    background-color: rgb(81, 174, 255);
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: 300ms opacity ease-in-out;
}

button:hover, li:hover {
    opacity: 0.35;
    cursor: pointer;
}

ul {
    border-top: 2px solid darkgrey;
    padding-top: 10px;
    margin-top: 15px;
    list-style-type: none;
}

li {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color: rgb(195, 195, 195);
    text-align: center;
    padding-top: 8px;
    margin-top: 25px;
    font-size: 18px;
    font-weight: 500;
    transition: 300ms opacity ease-in-out;
}

/* weather information section */

.weatherInformation {
    width: 100%;
    height: auto;
    margin-right: 20px;
}

.currentWeatherContainer {
    height: auto;
    max-width: 1062px;
    border: 1px solid black;
    margin: 0 15px;
}

.fiveDayForecast {
    height: auto;
    margin-left: 15px;
}

.daily-forecast {
    height: auto;
    width: 200px;
    color: white;
    background-color: rgb(58, 58, 92);
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 5px;
}

.name {
    padding-top: 10px;
    padding-left: 10px;
}

/* span containing uv index value */
span {
    font-size: 15px;
    padding: 5px 15px;
    color: white;
    background-color: green;
    border-radius: 5px;
}

img {
    height: 50px;
    width: 50px;
}

.hide {
    display: none;
}

@media(max-width:780px) {
    main {
        flex-direction: column;
    }
}